html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100% 100%;
    background-size: cover;
}

html {
    background-color: #212121;
}

hr {
    width:100%;
    text-align:left;
    margin-left:0
}

li {
    list-style-type: none;
    padding: 4px;
}

.searchFlexBox {
    display: flex;
}

.searchContainer {
    display: flex;
}
.searchInput.active input{
    border-radius: 5px 5px 0 0;
}
  
.searchInput .resultBox{
padding: 0;
opacity: 0;
pointer-events: none;
max-height: 280px;
overflow-y: auto;
}

.searchInput.active .resultBox{
padding: 10px 8px;
opacity: 1;
pointer-events: auto;
}

.resultBox {
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
    padding-inline-end: 44px;
    padding-inline-start: 44px;
    position: relative;
    margin: 5px;
}
  
  .searchInput.active .resultBox li{
    display: block;
    text-decoration: none;
  }
  .resultBox li:hover{
    background: #efefef;
  }

.backgroundImageClass {
    width: 100%;
    height: 100%;
    z-index: -5;
    position: fixed;
}

.timeDisplay {
    margin: 5px;
    font-size: 72px;
}

input, button {
    margin: 5px;
}

#integrationStart {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#integrationStart img {
    width: 50px;
    margin: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: flex-start;
}

  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.searchIcon {
    background-color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 44px;
    position: relative;
    width: 50px;
    margin: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.searchIcon:hover {
    color: blue;
    cursor: pointer;
}
.searchBox {
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
    height: 44px;
    padding-inline-end: 44px;
    padding-inline-start: 44px;
    position: relative;
    width: 90%;
    margin: 5px;
}

.searchButton {
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
    height: 44px;
    padding-inline-end: 44px;
    padding-inline-start: 44px;
    position: relative;
    margin: 5px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #ede9e9;
}

.headerTime {
    font-size: 70px;
    font-weight: bold;
}

.mainContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

  
.box {
    height: 500px;
    width: 350px;
 /*   border: 3px solid #4c4f52;
    background-color: #4c4f52;
    border-radius: .5em; */
    padding: 10px;
    color: white;
    margin: 10px;
}
.googleCalendar {
    overflow: scroll;
    height: inherit;
}

.googleCalendarBlock {
    border-radius: 1px;
}

.gCalEventName {
    color: black;
}

.jiraBox {
    background-color: white;
    border: 3px solid white;
    border-radius: 0.5em;
    color: #666;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: scroll;
    
}

.mainBox {
    margin-top: 300px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
}

.box.over {
    border: 3px dotted #666;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
}
.footer span {
    margin: 10px;
    font-weight: bold;
    font-size: larger;
}
.footerSettingsButton {
    cursor: pointer;
}
.footerSettingsButton a {
    color: white;
    text-decoration: dotted;
}